---
layout: default
---

<div class="row">
  <div class="col-md-8">
    {% for post in site.posts limit:3 %}
      <header class="post-header">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}"><h1 class="post-title">{{post.title}}</h1></a>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{post.excerpt}}
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Continue reading...</a>
      </div>
    {% endfor %}

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Recent Posts</h3>
      </div>
      <div class="panel-body">
        <ul class="post-list">
          {% for post in site.posts offset:3 limit:10 %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>
        <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn btn-default">Subscribe via RSS</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=hildebertocom" id="_carbonads_js"></script>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What I'm Reading</h3>
      </div>
      <div class="panel-body">
        <div id="reads"></div>
        {% for book in site.data.books %}
          <h3>{{ book.title }} <small>by {{ book.author }}</small></h3>
          <img align="left" border="0" style="margin-right: 10px;" width="90" src="{{ book.image }}" >
          <p>{{ book.description }}</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ book.progress }}%;" aria-valuenow="{{ book.progress }}" aria-valuemin="0" aria-valuemax="100">{{ book.progress }}%</div>
          </div>
        {% endfor %}
      </div>
      <div class="panel-footer">
        <a href="books">Read previous book reviews</a>
      </div>
    </div>

    <div class="panel panel-default">
      <a class="twitter-timeline" data-height="800" href="https://twitter.com/htmfilho?ref_src=twsrc%5Etfw">Tweets by htmfilho</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
